%h1.logo.text-center
  = link_to root_path do
    %span Broogle

.row
  = form_tag url_for, method: :get, class: "form-horizontal" do
    .input-group
      = text_field_tag :q, params[:q], class: "form-control input-lg"
      .input-group-btn
        = submit_tag "Broogle it!", class: "btn btn-primary btn-lg"

.search-results
  .row
    - if @collection.total_count > 0
      = render @collection
    - else
      .search-results__no-results.text-center
        %p Nothing found :(
        %small Try to change your query. Example: #{link_to("selfish", url_for(q: "selfish"))}
    = paginate @collection, theme: :bootstrap
